@media (min-width: 1920px) {
    .trouble-list__listing--img-in-bg {
        right: 25%;
    }
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .trouble-list__listing--img-in-bg {
        right: 12%;
    }
}

@media (max-width: 768px) {
    .top-heading__header-logo {
        padding: 10px 0px;
        &--details {
            display: none;
        }
    }
    .mobile-menu {
        display: block;
        margin: auto 0px;
    }
    .menu-tab {
        display: block;
        position: absolute;
        width: 100%;
        background-color: $white;
        right: 0px;
        top: 100%;
        z-index: 99999;
    }
    .menu-tab ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .menu-tab li {
        list-style: none;
        border-top: 1px solid $dark-black;
        font-size: 16px;
        line-height: 31px;
        padding: 22px 36px 20px 16px;
        position: relative;
    }
    .menu-tab li:after {
        background-image: url("/img/for-link.png");
        background-size: 10px 20px;
        display: inline-block;
        width: 10px;
        height: 20px;
        content: "";
        position: absolute;
        right: 16px;
    }
    .no-arrow {
        & img {
            margin-bottom: 25px;
        }
        &:after {
            content: "";
            background: none !important;
        }
    }
    .menu-tab li>a {
        text-decoration: none;
        color: $dark-black;
        font-family: "Md-NotoSans";
    }
    .dropdown {
        width: 30px;
        height: 3px;
        position: relative;
        z-index: 0;
        margin: 15px auto;
    }
    .dropdown .line-1::before {
        content: "";
        left: 15px;
        top: 10px;
        position: absolute;
        width: 15px;
        transform-origin: left bottom;
        height: 3px;
        background: $black;
        transition: transform 0.1s, top 0.1s;
    }
    .dropdown .line-1::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 10px;
        width: 15px;
        transform-origin: right bottom;
        height: 3px;
        background: $black;
        transition: transform 0.1s, top 0.1s;
    }
    .dropdown .line-2 {
        position: absolute;
        width: 30px;
        top: 50%;
        left: 50%;
        height: 3px;
        background: $black;
        transform: translate(-50%, -50%);
        transition: transform 0.1s 0.1s, width 0.1s 0.1s;
    }
    .dropdown .line-3::before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 15px;
        width: 15px;
        transform-origin: left top;
        height: 3px;
        background: $black;
        transition: transform 0.1s, bottom 0.1s;
    }
    .dropdown .line-3::after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 15px;
        width: 15px;
        transform-origin: right top;
        height: 3px;
        background: $black;
        transition: transform 0.1s, bottom 0.1s;
    }
    .dropdown.open {
        -webkit-transition: 3s ease-out;
        -moz-transition: 3s ease-out;
        -ms-transition: 3s ease-out;
        transition: 3s ease-out;
    }
    .dropdown.open .line-1:before {
        top: 0px;
        width: 15px;
        transform: rotate(45deg);
        transform-origin: left bottom;
        transition: transform 0.1s 0.1s, width 0.1s 0.1s, top 0.1s 0.1s;
    }
    .dropdown.open .line-1:after {
        top: 0px;
        width: 15px;
        transform: rotate(-45deg);
        transform-origin: right bottom;
        transition: transform 0.1s 0.1s, width 0.1s 0.1s, top 0.1s 0.1s;
    }
    .dropdown.open .line-2 {
        width: 5px;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: transform 0.1s 0.1s, width 0.1s;
    }
    .dropdown.open .line-3:before {
        bottom: 0px;
        width: 15px;
        transform: rotate(-45deg);
        transform-origin: left top;
        transition: transform 0.1s 0.1s, width 0.1s 0.1s, bottom 0.1s 0.1s;
    }
    .dropdown.open .line-3:after {
        bottom: 0px;
        width: 15px;
        transform: rotate(45deg);
        transform-origin: right top;
        transition: transform 0.1s 0.1s, width 0.1s 0.1s, bottom 0.1s 0.1s;
    }
    .listing-lists {
        padding: 20px 0 0 35px;
        font-size: 16px;
    }
    .trouble-list {
        &__listing {
            padding-bottom: 42px;
            &--img-in-bg {
                max-width: 40%;
                right: 0;
            }
        }
    }
    .install-easy {
        &__steps {
            align-items: flex-start;
        }
        &__title {
            height: 95px;
            display: table-cell;
            vertical-align: middle;
        }
    }
}

@media (max-width: 992px) {
    .decorate-in-style {
        &__first-row {
            padding: 30px 0px 15px;
        }
        &__second-row {
            &--img-message {
                width: auto;
                max-width: 49%;
            }
            &--img-contact {
                width: auto;
                max-width: 49%;
            }
        }
    }
    .left-column {
        flex-basis: 50%;
        &__main-heading {
            font-size: 22px;
        }
        &__sub-heading {
            font-size: 30px;
        }
        &__sub-heading-2 {
            font-size: 40px;
        }
    }
    .contents {
        &__heading {
            font-size: 14px;
        }
        &__paragraph {
            font-size: 12px;
        }
    }
    .price-tag {
        flex-wrap: wrap;
        &__contents {
            flex-basis: 50%;
            padding-bottom: 78px;
        }
    }
    .fillup {
        &__all {
            &--name {
                font-size: 20px;
            }
            &--required {
                font-size: 12px;
            }
            &--typehere {
                font-size: 12px;
                padding: 10px 15px 10px;
            }
        }
    }
    .lg-text {
        min-height: 100px;
    }
    #back-to-top {
        right: 5%;
    }
    .heading {
        padding: 11px 0px;
        &__title {
            font-size: 20px;
        }
    }
}

@media (max-width: 600px) {
    .sp-only {
        display: block;
        margin-bottom: 18px;
        padding: 10px 5px;
    }
    .not-sp {
        display: none;
    }
    .trouble-list {
        &__listing {
            padding-bottom: 0px;
            &--img-in-bg {
                position: static;
                max-width: 100%;
            }
        }
    }
    .decorate-in-style__first-row {
        flex-direction: column-reverse;
        text-align: center;
    }
    .decorate-in-style {
        &__second-row {
            flex-direction: column;
            &--img-contact {
                max-width: 100%;
                margin-bottom: 23px;
            }
            &--img-message {
                max-width: 100%;
            }
        }
    }
    .why-chose-us__content {
        flex-direction: column;
        padding: 56px 18px 0px;
        &--count {
            padding-bottom: 48px;
            & img {
                max-width: 80%;
            }
        }
    }
    .contents {
        &__heading {
            font-size: 18px;
        }
        &__paragraph {
            font-size: 16px;
        }
    }
    .price-tag {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .wallpaper-demo {
        &__first-row {
            flex-wrap: wrap;
            justify-content: center;
            & img {
                max-width: 100%;
                padding-bottom: 35px;
            }
        }
        &__paragraph {
            margin-top: 0px;
        }
    }
    .wrapper {
        padding: 0px 15px 22px;
    }
    .install-easy {
        &__steps {
            flex-direction: column;
            margin-bottom: 55px;
        }
        &__images {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__first-image {
            flex-basis: 70%;
        }
        &__second-image {
            flex-basis: 70%;
        }
    }
    .step-by-step {
        margin: 80px auto 0px;
        &::before {
            bottom: 100%;
            left: 0;
        }
    }
    .faq {
        margin: 0px auto 45px;
        &__ques-ans {
            &--questions {
                font-size: 16px;
                padding: 15px 16px 7.5px 38px;
                margin-bottom: 0px;
                &::before {
                    font-size: 13px;
                    padding: 0px 7.5px;
                    top: 20px;
                }
            }
            &--answers {
                font-size: 15px;
                padding: 15px 16px 7.5px 38px;
                &::before {
                    font-size: 13px;
                    padding: 0px 7.5px;
                    top: 20px;
                }
            }
        }
    }
    .forms__title {
        margin: 28px auto 36px;
    }
    .fillup {
        &__all {
            flex-wrap: wrap;
            margin-bottom: 34px;
            &--name {
                flex-basis: 85%;
            }
            &--required {
                flex-basis: 12%;
                font-size: 14px;
            }
            &--typehere {
                margin-top: 17px;
                flex-basis: 100%;
                font-size: 18px;
                padding: 14px 17px 20px;
            }
        }
    }
    .lg-text {
        min-height: 300px;
    }
    .submit__btn {
        width: 100%;
        margin: 0px auto 58px;
    }
    .footer {
        padding: 0px;
        &__details {
            padding: 38px 16px 40px;
            font-size: 13px;
            margin-bottom: 0px;
        }
        &__copyright {
            padding: 0px 16px 36px;
            font-size: 13px;
        }
    }
    .heading {
        padding: 30px 16px;
        &__title {
            font-size: 26px;
        }
    }
}