.not-sp {
    display: block;
}

.top-heading {
    position: relative;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.top-heading {
    &__header-top {
        background-color: $brown;
        &--title {
            color: $white;
            font-size: 14px;
            font-family: "NotoSans";
            font-weight: 500;
            padding: 7.5px 0;
        }
    }
    &__header-logo {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        &--main-logo {
            flex-basis: 20%;
        }
        &--details {
            display: flex;
            align-items: center;
            flex-basis: 60%;
            justify-content: space-between;
        }
    }
}

.trouble-list {
    &__listing {
        padding-bottom: 84px;
        position: relative;
        &--img-in-bg {
            position: absolute;
            right: 10%;
            bottom: 0px;
            z-index: -1;
            & img {
                display: block;
            }
        }
        &--lists {
            list-style-type: none;
            z-index: 9999;
        }
    }
}

.listing-lists {
    position: relative;
    padding: 50px 0 0 45px;
    font-size: 21px;
    font-family: "Bd-NotoSans";
    &::before {
        content: "";
        position: absolute;
        background-image: url(../img/tick.png);
        height: 28px;
        width: 28px;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0px;
        bottom: 0px;
    }
    &__variety {
        font-family: "Bd-NotoSans";
        font-size: 23px;
        border-bottom: 2px solid $orange;
    }
}

.decorate-in-style {
    background-color: $green;
    &__first-row {
        display: flex;
        padding: 45px 0px 35px;
        &--column-right {
            flex-basis: 50%;
        }
    }
    &__second-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 48px;
        &--img-contact {
            width: 460.5px;
        }
        &--img-message {
            width: 458px;
        }
    }
}

.left-column {
    color: $white;
    flex-basis: 50%;
    padding: 21px 0px;
    &__main-heading {
        font-family: "XB-MPlus";
        font-size: 30px;
    }
    &__sub-heading {
        font-family: "BD-NotoSans";
        font-size: 42px;
    }
    &__sub-heading-2 {
        font-family: "Bl-NotoSans";
        font-size: 55px;
    }
}

.why-chose-us {
    counter-reset: section;
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 32px 0px 40px;
        &--count {
            position: relative;
            flex-basis: 18%;
            &::before {
                counter-increment: section;
                content: counter(section);
                position: absolute;
                background-color: $green;
                font-size: 18px;
                font-family: "Bd-NotoSans";
                color: $white;
                padding: 5px 0px;
                width: 40px;
            }
            & h5 {
                padding: 24px 0px 20px;
                height: 95px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.price-tag {
    display: flex;
    justify-content: space-evenly;
    margin: 34px auto 45px;
    &__contents {
        flex-basis: 30%;
        &--heading {
            margin: 22px auto;
        }
        &--price {
            margin-bottom: 24px;
            & span {
                font-size: 24px !important;
            }
        }
    }
}

.more-details {
    position: relative;
    font-family: "Bd-NotoSans";
    & span {
        position: absolute;
        width: 8px;
        top: 2px;
        left: 95px;
    }
}

.wallpaper-demo {
    &__first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
        & img {
            flex-basis: 46%;
            max-width: 46%;
        }
    }
    &__paragraph {
        margin: 27px auto 19px;
    }
}

.install-easy {
    counter-reset: section;
    &__steps {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
        margin-bottom: 125px;
    }
    &__images {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
    }
    &__first-image {
        flex-basis: 48%;
    }
    &__second-image {
        flex-basis: 48%;
    }
    &__title {
        font-family: "Bd-NotoSans";
        font-size: 18px;
        line-height: 28px;
        margin-top: 15px;
        text-align: left;
        margin-bottom: 30px;
        &--first {
            margin-bottom: 15px;
        }
    }
}

.step-by-step {
    flex-basis: 46%;
    position: relative;
    margin-top: 88px;
    &::before {
        counter-increment: section;
        content: "STEP" counter(section);
        position: absolute;
        text-align: center;
        background-color: $green;
        font-size: 18px;
        font-family: "Bd-NotoSans";
        color: $white;
        padding: 5px 0px;
        width: 85px;
        bottom: 100%;
        left: 0;
    }
}

.faq {
    counter-reset: section;
    margin: 50px auto 55px;
    &__ques-ans {
        &--questions {
            position: relative;
            margin-bottom: 34px;
            padding-top: 27px;
            border-top: 1px dotted $gray;
            padding-left: 80px;
            font-family: "Bd-NotoSans";
            font-size: 18px;
            &::before {
                counter-increment: section;
                content: "Q" counter(section);
                position: absolute;
                background-color: $green;
                font-size: 20px;
                font-family: "Bd-NotoSans";
                color: $white;
                padding: 3px 15px;
                left: 0px;
                text-align: center;
            }
        }
        &--answers {
            position: relative;
            counter-reset: subsection;
            padding-bottom: 30px;
            padding-left: 80px;
            &:nth-child(5) {
                border-bottom: 1px dotted $gray;
            }
            &::before {
                counter-increment: subsection;
                content: "A" counter(section);
                position: absolute;
                background-color: $green;
                font-size: 20px;
                font-family: "Bd-NotoSans";
                color: $white;
                padding: 3px 15px;
                left: 0px;
                text-align: center;
            }
        }
    }
}

.for-border {
    border-bottom: 1px dotted $gray;
}

.forms {
    &__title {
        margin: 45px auto;
        &--heading {
            font-family: "Bd-NotoSans";
            font-size: 18px;
        }
    }
}

.fillup {
    &__all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        &--name {
            flex-basis: 20%;
            font-family: "W6-Hira";
            font-size: 24px;
        }
        &--required {
            flex-basis: 5%;
            font-family: "W6-Hira";
            font-size: 18px;
            background-color: $red;
            color: $white;
            padding: 5px;
        }
        &--typehere {
            font-family: "W3-Hira";
            font-size: 18px;
            flex-basis: 70%;
            padding: 15px 15px 18px;
            border-top: 2px solid #999;
            outline: none;
        }
    }
}

.arbitrarily {
    background-color: $white;
    color: $black;
    border: 1px solid $dark-black;
}

.lg-text {
    resize: none;
    min-height: 200px;
}

.submit {
    &__btn {
        margin: 20px auto 125px;
    }
}

.footer {
    background-color: $brown;
    color: $white;
    padding: 40px 0px;
    &__details {
        margin-bottom: 33px;
    }
    &__copyright {
        font-size: 14px;
    }
}

#myBtn {
    position: fixed;
    bottom: 48px;
    right: 175px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $orange;
    cursor: pointer;
    padding: 15.5px 14px;
    border-radius: 4px;
    & img {
        width: 22px;
        height: 12px;
    }
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 13%;
    z-index: 9999;
    text-align: center;
    line-height: 30px;
    border: 0;
    transition: all 0.2s ease-out;
    opacity: 0;
    outline: none;
    background-color: $orange;
    cursor: pointer;
    padding: 10px 14px;
    border-radius: 4px;
    & img {
        width: 22px;
        height: 12px;
    }
}

#back-to-top:hover {
    background: rgba(247, 147, 30, 0.8);
}

#back-to-top.show {
    opacity: 1;
}

.mobile-menu {
    display: none;
}

.sp-only {
    display: none;
}